.card {
	display: block;
	border: 1px solid #1Eb980;
	border-radius: 3px;
	padding: 1em;
	margin: 0.5em 0;
}

.card-container {
	height: 64px;
	max-width: 40em;
	justify-content: space-between;
}

.card-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-name, .card-frame, .card-img {
	display: inline-block;
	vertical-align: middle;
}

.card-img {
	max-width: 64px;
	max-height: 64px;
	border:1px solid whitesmoke;
	border-radius: 32px;
	background-color:whitesmoke;
}

.contain {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.card-name, .card-frame {
	font-size: 20px;
	color: whitesmoke;
}

.opt-btn {

}

.card-opt-panel {
	display: none;
}

.is-open {
	display: block;
}
