.card-list {
	display: block;
	text-align: center;
	margin: 0 auto;
	list-style: none;
	padding: 1.5% 2.5% 1.5% 2.5%;
	border-radius: 3px;
	/*background-color: rgb(6, 59, 63);*/
	max-width: 40em;
	overflow: hidden;
	/*overflow-y: scroll;*/
}