.dashboard {
	text-align: center;
	margin: 0 auto;
	background-color: #232633;
	padding: 5%;
}

.dashboard-header {
	margin: 0;
	padding: 1.5% 2.5% 1.5% 2.5%;
	text-align: center;
	font-size: 20px;
}

.dashboard-section {
	background-color: #2b2d3d;
}

.dashboard-header,
.dashboard-section-header {
	color: #edeef0;
	background-color: #232633;
}

.dashboard-section-header {
	border-bottom: 2px solid #b94343;
	margin-bottom: 2.5%;
	padding: 1.5% 2.5% 1.5% 2.5%;
}

.super-filter-btn {
  width: 100px;
	border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
  margin-top: 5px;
  border: 1px solid #35df5c;
  color: #35df5c;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition-property: background,color;
  -o-transition-property: background,color;
  transition-property: background,color;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  letter-spacing: 1px;
}

.super-filter-btn:hover,
.super-filter-btn:hover,
.super-filter-btn:focus,
.super-filter-btn:focus {
    text-shadow: 0 0 1px #8aff37,
                 0 0 10px rgba(64, 199, 57, 0.8);
}