.dashboard-page {
    padding: 5%;
    color: #edeef0;
    animation: fadein 0.8s;
}

.dashboard-header > h2 {
	text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    flex: 0 0 50%;
}

.dashboard-header {
    display: flex;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid #03A9F4;
}

.section-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section-header > h3 {
	color: #edeef0;
	font-size: 1.5em;
}

.dashboard-section {
	background-color: #2b2d3d;
    padding-top: 2.5%;
}

.dashboard-header,
.dashboard-section {
	color: #edeef0;
	background-color: #0b0e19;;
}

.dashboard-section-header {
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	margin-bottom: 0.25%;
	/*padding: 1.5% 2.5% 1.5% 2.5%;*/
    flex: 0 0 50%;
    justify-content: flex-end;

}

.super-filter-btn {
  background: transparent;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  color: #35df5c;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition-property: background,color;
  -o-transition-property: background,color;
  transition-property: background,color;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.super-filter-btn:hover,
.super-filter-btn:hover,
.super-filter-btn:focus,
.super-filter-btn:focus {
    text-shadow: 0 0 1px #8aff37,
                 0 0 10px rgba(64, 199, 57, 0.8);
}

.frame-add-btn {
    background: none;
    border: none;
    color: #edeef0;
    font-size: 20px;
}

.frame-add-btn:hover,
.frame-add-btn:focus {
    text-shadow: 0 0 1px #8aff37,
    0 0 10px rgba(64, 199, 57, 0.8);
}

.no-schedule {
    text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}