.employee-page {
    padding: 5%;
    color: #edeef0;
}

.employee-header {
    display: flex;
    align-items: center;
    padding: 0 5% 0 5%;
    border-bottom: 1px solid #eabb32;
}

.employee-header h2 {
    flex: 0 0 90%;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

.employee-header div {
    flex: 0 0 10%;
    text-align: center;
}

.employee-section {
    background-color: #232633;
    animation: fadein 0.8s;
    padding: 0 5% 0 5%;
    margin: 0;
    display: flex;

    /*align-items: space-between;*/
    flex-direction: column;
}

.employee-section,
.employee-header {
    background-color: #0b0e19;
}


.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #393c50;
    font-size: 0.8em;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;*/
}

.employee-profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.employee-profile-info {
    display: flex;
    flex: 0 0 90%;
    align-items: center;
}

/*.card-name, .card-img {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

.employee-img {

    margin-right: 2.5%;
    /*padding: 1%;*/
}

.employee-img img {
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

.employee-data p:first-child {
    font-size: 1.2em;
}


.employee-edit-btn {
    flex: 0 0 10%;
    text-align: center;
}

.employee-availability {
    width: 100%;
    text-align: center;
}

/* .employee-availability table {
    margin: 0 auto;
} */

.employee-section-details:last-child {
    border-bottom: none;
}

.employee-profile-info div:last-child {

}

.employee-profile-info p {
    margin: 0;
}

.employee-add-btn {
    background: none;
    border: none;
    color: #edeef0;
    font-size: 20px;
}

.employee-add-btn:hover,
.employee-add-btn:focus {
    text-shadow: 0 0 1px #8aff37,
    0 0 10px rgba(64, 199, 57, 0.8);
}

.no-employees {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}