@media only screen and (max-width: 398px) {
  .footer-style {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #edeef0;
    background-color: #232633;
    border-top: 1px solid #35df5c;
  }

  .footer-style p {
    display: flex;
    width: 165px;
    padding: 10px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    font-size: 10px;
  }

  .footer-style ul {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .footer-style li {
    display: flex;
    justify-content: flex-end;
  }

  .footer-style li img {
    height: 12px;
    width: 12px;
    margin-left: 3px;
    background-color: #edeef0;
    border-radius: 5px;
  }

  .footer-style li a {
    font-size: 10px;
    text-decoration: none;
    color: #edeef0;
  }
}

@media only screen and (min-width: 398px) {
  .footer-style {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 75px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #edeef0;
    background-color: #232633;
    border-top: 1px solid #35df5c;
  }

  .footer-style p {
    display: flex;
    padding: 10px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid red; */
  }

  .footer-style ul {
    padding: 10px 10px 0px 0px;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid red; */
    /* list-style-type: none; */
  }

  .footer-style li {
    display: flex;
    justify-content: flex-end;
  }

  .footer-style li img {
    height: 12px;
    width: 12px;
    margin-left: 3px;
    background-color: #edeef0;
    border-radius: 5px;
  }

  .footer-style li a {
    font-size: 12px;
    text-decoration: none;
    color: #edeef0;
  }
}