.footer-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 5% 2.5%;
  color: #edeef0;
  background-color: #0b0e19;
  clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
  font-size: 10px;
}

.footer-style p {
  align-self: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer-style ul {
  text-align: right;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-style li img {
  height: 12px;
  width: 12px;
  margin-left: 3px;
  background-color: #edeef0;
  border-radius: 5px;
}

.footer-style li a {
  text-decoration: none;
  color: #edeef0;
}

.footer-style li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 398px) {
  .footer-style p,
  .footer-style li a {
    font-size: calc(0.8rem + .5vw);
  }
}