.navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 960px;

    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #0b0e19;
    color: #edeef0;
    height: 50px;
    margin: 0 auto;
}

.navbar-logo-wrapper {
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    padding-left: 20px;
}

.navbar-logo-wrapper a {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 35px;
}

.navbar-logo-wrapper:hover,
.navbar-logo-wrapper:focus {
    color: #03A9F4;
    text-shadow: 0 0 1px #03A9F4,
                 0 0 10px rgb(3, 169, 244, 0.8)
}

.navbar-logo-wrapper h1 {
    margin: 0;
    padding-left: 20px;
    font-size: calc(1.2rem + .9vw);
    font-style: italic;
}

.fa-window-restore {
    color: #03A9F4;
}

nav a,
.navbar-signout-btn {
    color: #edeef0;
    font-size: 18px;
}

nav a:hover,
nav a:focus,
.navbar-signout-btn:hover,
.navbar-signout-btn:focus {
    color: #03A9F4;
    text-shadow: 0 0 1px #03A9F4,
                 0 0 10px rgb(3, 169, 244, 0.8)
}

nav a.active {
    background-color: #0b0e19;
    color: #03A9F4;
    border-bottom: 1px solid #03A9F4;
    text-shadow: 0 0 1px #03A9F4,
                 0 0 10px rgb(3, 169, 244, 0.8)
}

.navbar-links-wrapper {
    flex: 0 0 70%;
    padding-right: 20px;
}

.navbar-links {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    height: 100%;
}

.navbar-links li {
    padding: 2.5%;
    align-self: center;
}

.navbar-links li:last-child {
    padding-right: 0;
}

.navbar-signout-btn {
    border: none;
    background: transparent;
    padding: 0;
}
