.navbar-header {
    background-color: #232633;
    color: #edeef0;
    display: flex;
    height: auto;
    padding: 2.5% 2.5% 0;
}

.navbar-header nav,
.navbar-header div {
    text-align: left;
    width: 50%;
    /*padding-left: 1.5%;*/
    /*padding-right: 1.5%;*/
}

.navbar-header div a {
    font-size: 35px;
}

.fa-window-restore {
    color: #35df5c;
}

nav a,
.navbar-signout-btn {
    color: #edeef0;
    font-size: 18px;
}

.navbar-links {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    height: 100%;
}

.navbar-links li {
    padding: 2.5%;
    align-self: center;
}

.navbar-links li:last-child {
    padding-right: 0;
}

.navbar-signout-btn {
    border: none;
    background: transparent;
    /*padding: 1.5% 0 1.5% 5%;*/
    padding: 0;

}