@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.profile-wrapper {
    position: relative;
    top: 50px;
    color: #edeef0;
    background-color: #2b2d3d;
    padding: 5%;
    
}

.profile-section {
    background-color: #232633;
    animation: fadein 0.8s;
    padding: 0 5% 0 5%;
    margin: 0;
    text-align: left;
}

.profile-section-details {
    border-bottom: 1px solid #2b2d3d;
}

.profile-section-details:last-child {
    border-bottom: none;
}

.profile-error {
	white-space: nowrap;
	margin: 0 auto;
	width: 100px;
	text-align: center;
	color: red;
	font-size: 20px;
}

.profile-section h3 {
    margin: 0;
    padding: 2.5% 0 2.5% 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #98a0c9;
}

.profile-section p {
    font-size: 0.8em;
    margin: 0;
    padding: 2.5% 0 2.5% 0;

}

.profile-header {
    display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0 5% 0 5%;
    background-color: #232633;
    border-bottom: 1px solid #35df5c;
}

.profile-header h2 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

.profile-header div {
    flex: 0 0 10%;
}

.profile-edit-btn,
.profile-cancel-btn {
    color: #edeef0;
    width: 100%;
    border: none;
    background: none;
    padding: 0;
    font-size: 20px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.profile-edit-btn:after {
    content: '✎';
}

.profile-cancel-btn:after {
    content: '✖';
}

.profile-edit-btn:hover,
.profile-cancel-btn:hover,
.profile-edit-btn:focus,
.profile-cancel-btn:focus {
    text-shadow: 0 0 1px #8aff37,
                 0 0 10px rgba(64, 199, 57, 0.8);
    /*-webkit-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
}