.view-btn {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  margin: 0.5em;
  border-radius: 5px;
  background: transparent;
  padding: 5px 0px;
  border: 2px solid #03A9F4;
  color: #03A9F4;
  text-transform: uppercase;
  font-size: 12px;
  transition-property: background,color;
  transition-duration: .2s;
  letter-spacing: 1px;
}

.view-btn:hover,
.view-btn:focus {
  color: black;
  background: #03A9F4;
  cursor: pointer;
  transition-property: background,color;
  transition-duration: .2s;
}

.active {
  color: black;
  background: #03A9F4;
}

.view-filter {
  background-color: #0b0e19;
}

.view-filter h3 {
  font-family: Helvetica;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

}

.view-filter-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-filter-btns button {
  flex: 0 0 30%;
}

@media screen and (min-width: 640px) {
	.view-filter-btns button{
      flex: 0 0 20%;
	}
}