
/* covers the entire page and sets its color to black with an opcaity */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* provides the positioning context for the actual modal content */
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    padding: 5%;
    cursor: pointer;
    text-align: left;
}

/* React Modal Transitions */
.ReactModal__Content {
    opacity: 0;
  }
  
  .ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 50ms;
  }
  
  .ReactModal__Content--before-close {
    opacity: 0;
  }