/* covers the entire page and sets its color to black with an opcaity */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 5;
}

/* provides the positioning context for the actual modal content */
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10% 5% 10% 5%;
    cursor: pointer;
}

.modal-form-wrapper {
    margin: 0 auto;
    max-width: 360px;
}

.modal-close-btn {
    position: absolute;
    margin: 10px;
    padding: 20px;
    width: 20px;
    height: 20px;
    transition: transform .25s ease-in-out;
    top: 0;
    right: 0;
    color: #edeef0;
    border: none;
    background: none;
}

.modal-close-btn:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 0;
    border-top: 2px solid #edeef0;
    transform: rotate(45deg);
    transform-origin: center;
}

.modal-close-btn:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 0;
    border-top: 2px solid #edeef0;
    transform: rotate(-45deg);
    transform-origin: center;
}

.modal-close-btn:hover {
    transform: rotate(180deg);
}

.form-modal-error {
    color: #ce3d3d;
    font-size: 14px;
    text-align: center;
}

/* React Modal Transitions */
.ReactModal__Content {
    opacity: 0;
  }
  
  .ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 50ms;
  }
  
  .ReactModal__Content--before-close {
    opacity: 0;
  }