@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}




.form-wrapper {
    margin: 0 auto;
    padding: 20px;
    background-color: #232633;
    animation: fadein 0.8s;
}

.form-wrapper h2 {
    text-align: center;
    color: #ffffff;
    font-size: calc(1rem + 0.8vw);
}

.form-field {
    position: relative;
    margin-bottom: 25px;
}

.form-field label {
	display: block;
	text-align: left;
    text-transform: uppercase;
    padding-top: 1.5rem;
    color: #8e909a;
    font-size: calc(0.5rem + 0.3vw)
}

.form-field input,
.form-field select {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
	line-height: 24px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #32364a;
    color: #FFFFFF;
    border: 1px solid #32364a;
    padding-left: 2.5%;
}

.form-field select {
    padding: 5px;
}

.form-submit-btn {
	border-radius: 2px;
    background: #03A9F4;
    padding: 10px 40px;
    border: 2px solid #03A9F4;
    color: black;
    text-transform: uppercase;
	font-size: 12px;
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
    color: #03A9F4;
    background: transparent;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

.form-field-error {
    color: #ce3d3d;
    font-size: calc(0.5rem + 0.3vw);
    position: absolute;
    bottom: -20px;
    text-transform: uppercase;
}

.error-border {
    border: 0.5px solid #ce3d3d !important;
}

.form-delete-btn {
    border-radius: 50px;
    background: transparent;
    padding: 5px 10px;
    border: 1px solid #ce3d3d;
    color: #ce3d3d;
    font-size: calc(1rem + 0.8vw);
	/*font-size: 28px;*/
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
    margin: 0 10px;
}

.form-delete-btn:hover,
.form-delete-btn:focus {
    color: black;
    background: #ce3d3d;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

.form-reset-btn {
    background: transparent;
    padding: 0;
    /*margin-bottom: 10px;*/
    border: none;
    border-bottom: 2px solid #35cbdf;
    color: #35cbdf;
    text-transform: uppercase;
	font-size: 12px;
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
}

.form-reset-btn:hover,
.form-reset-btn:focus {
    color: black;
    background: #35cbdf;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* PROFILE FORM */

.profile-form-field {
    text-align: center;
    padding-top: 25px;
}

.profile-save-btn:hover,
.profile-save-btn:focus {
    color: black;
    background: #35df5c;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

/* LOGIN FORM */

.login-form {
    margin-top: 5%;
}

.login-form-wrapper {
    background: rgba(11, 14, 25, 0.8);
    padding: 5%;
    border-top: 1px solid;
    max-width: 360px;
    border-image: linear-gradient(to right,rgba(11, 14, 25, 0.8) 25%, rgba(11, 14, 25, 1) 25%, #03A9F4 50%, #03A9F4 50%, rgba(11, 14, 25, 1) 75%, rgba(11, 14, 25, 0.8) 75%) 5;
}


.login-form-wrapper h2 {
    font-size: calc(1rem + 0.8vw);
    margin: 0 auto;
    text-transform: uppercase;
}


/*.login-form-wrapper::after {*/

    /*background-color: #11131c;*/

    /*background-size: 100% 100%;*/

    /*background-color: #11131c;*/
    /*opacity: 0.7;*/


    /*content: "";*/
    /*opacity: 0.8;*/
    /*top: 0; */
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*z-index: -1;*/
/**/
/*}*/

.login-form-wrapper input {
    min-width: 200px;
    background-color: #0b0e19;
    border: 0.5px solid #036794;
    border-left: 2px solid #03A9F4
}

.login-form-wrapper label {
    color: #FFFFFF !important;
    padding: 0 !important;

}

.sign-up-link {
    margin: 5% 0 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
}

.sign-up-link > a {
    margin: 0.5em;
    text-decoration: none;
    color: #03A9F4;
}

.sign-up-link > a:hover {
    text-decoration: underline;
}

/* SUPER FILTER */

.filter-form-submit-btn {
    display: block;
    width: 210px;
    margin: 0 auto;
	border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #35df5c;
    color: #35df5c;
    text-transform: uppercase;
	font-size: 12px;
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
}

.filter-form-submit-btn:hover,
.filter-form-submit-btn:focus {
    color: black;
    background: #35df5c;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

/* REGISTRATION FORM */

.register-form-wrapper {
    margin: 0 auto;
    background: rgba(11, 14, 25, .9);
}

.register-form-wrapper input { 
    border: 0.5px solid #35df5c !important;
    border-left: 2px solid #35df5c !important;
}

.register-form-wrapper h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.next {
    border: 2px solid #35df5c;
    color: black;
    background: #35df5c;
}

.next:hover{
    color: #35df5c;
}

.ask-login a {
    color: #35df5c;
}

.previous {
    border: none;
    border-bottom: 1px solid #35df5c;
    background: none;
    display: block;
    color: #35df5c;
    margin: 10px auto;
}

.previous:hover {
    cursor: pointer;
}