@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

fieldset {
    border: none;
}

.form-wrapper {
    margin: 0 auto;
    padding: 20px;
    background-color: #0b0e19;
    animation: fadein 0.8s;
}

.form-wrapper legend {
    color: #0b0e19;
    line-height: 0;
}

.form-header {
    text-align: center;
    color: #ffffff;
    font-size: calc(1rem + 0.8vw);
    margin: 0 0 5%;
    text-transform: uppercase;
}

.form-field {
    position: relative;
    margin-bottom: 25px;
}

.form-field label {
	display: block;
	text-align: left;
    text-transform: uppercase;
    padding-top: 1.5rem;
    color: #8e909a;
    font-size: calc(0.5rem + 0.3vw)
}

.form-field input,
.form-field select {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
	line-height: 24px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #151b30;
    color: #FFFFFF;
    border: 1px solid #151b30;
    padding-left: 2.5%;
    min-width: 200px;

}

.form-field select {
    padding: 5px;
}

.form-submit-btn {
	border-radius: 2px;
    background: #03A9F4;
    padding: 10px 40px;
    border: 2px solid #03A9F4;
    color: black;
    text-transform: uppercase;
	font-size: 12px;
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
    color: #03A9F4;
    background: transparent;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

.form-field-error {
    color: #ce3d3d;
    font-size: calc(0.5rem + 0.3vw);
    position: absolute;
    bottom: -20px;
    text-transform: uppercase;
}

.error-border {
    border: 0.5px solid #ce3d3d !important;
}

.form-delete-btn {
    border-radius: 50px;
    background: transparent;
    padding: 5px 10px;
    border: 1px solid #ce3d3d;
    color: #ce3d3d;
    font-size: calc(1rem + 0.8vw);
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
}

.form-delete-btn:hover,
.form-delete-btn:focus {
    color: black;
    background: #ce3d3d;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

.form-reset-btn {
    background: transparent;
    padding: 0;
    border: none;
    border-bottom: 2px solid #35cbdf;
    color: #35cbdf;
    text-transform: uppercase;
	font-size: 12px;
	transition-property: background,color;
    transition-duration: .2s;
    letter-spacing: 1px;
}

.form-reset-btn:hover,
.form-reset-btn:focus {
    color: black;
    background: #35cbdf;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
}

/* ========================================================================================================= */
/* LOGIN FORM */

.login-form-wrapper {
    color: #ffffff;
    text-align: center;
    background: rgba(11, 14, 25, 0.8);
    padding: 5%;
    border-top: 1px solid;
    max-width: 360px;
    border-image: linear-gradient(to right,rgba(11, 14, 25, 0.8) 25%, rgba(11, 14, 25, 1) 25%, #03A9F4 50%, #03A9F4 50%, rgba(11, 14, 25, 1) 75%, rgba(11, 14, 25, 0.8) 75%) 5;
}

.login-form-wrapper legend {
    color: rgba(11, 14, 25, 0.8);
}

.login-form-wrapper input {
    background-color: #0b0e19;
    border: 0.5px solid #036794;
    border-left: 2px solid #03A9F4
}

.login-form-wrapper label {
    color: #FFFFFF !important;
    padding: 0 !important;
}

/* ========================================================================================================= */
/* SIGN UP */
.sign-up-link {
    margin: 5% 0 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
}

.sign-up-link > a {
    margin: 0.5em;
    text-decoration: none;
    color: #03A9F4;
}

.sign-up-link > a:hover {
    text-decoration: underline;
}

/* ========================================================================================================= */
/* REGISTRATION FORM */
.register-form-wrapper {
    color: #ffffff;
}

.register-form-wrapper input { 
    border: 0.5px solid #35df5c !important;
    border-left: 2px solid #35df5c !important;
}

.next {
    border: 2px solid #35df5c;
    color: black;
    background: #35df5c;
}

.next:hover{
    color: #35df5c;
}

.ask-login a {
    color: #35df5c;
}

.previous {
    border: none;
    border-bottom: 1px solid #35df5c;
    background: none;
    display: block;
    color: #35df5c;
    margin: 10px auto;
}

.previous:hover {
    cursor: pointer;
}