.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35, 38, 51, 0.6);
  padding: 50px;
}

.modal {
  position: relative;
  color: #edeef0;
  background-color: #1b1c22;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
}

.modal input {
  display: block;
  width: 100%;
  margin-top: 5px;
  line-height: 22px;
  border: 0;
  border-radius: 3px;
  background-color: #2b2d3d;
  color: #edeef0;
}

.modal-close-btn {
  position: absolute;
  margin: 10px;
  padding: 20px;
  width: 20px;
  height: 20px;
  transition: transform .25s ease-in-out;
  top: 0;
  right: 0;
  color: #edeef0;
  border: none;
  background: none;
}

.modal-close-btn:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 0;
  border-top: 2px solid #edeef0;
  transform: rotate(45deg);
  transform-origin: center;
}

.modal-close-btn:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 0;
  border-top: 2px solid #edeef0;
  transform: rotate(-45deg);
  transform-origin: center;
}

.modal-close-btn:hover {
  transform: rotate(180deg);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
